
:root{
	--color-general:#888585;
	--fondo-header:#4e4e4e;
	--fondo-footer:#383737;

}
body{
	font-family:Oswald;
	font-size: 14px;
	color: #3c3838;
}




header{
	background-color:#4e4e4e;
	position: relative;
    height: 450px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
	background-image: url("../img/header_bg.jpg");
    background-size: cover;
	font-family: Oswald;

}

.header-content {
    position: absolute;
    text-align: center;
    color: white;
    padding: 20px;
}


header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

#welcome button {
    background-color: #41c1fe;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#coaches, #gallery {
    background-color: #f3f3f3;
}

#hero, #welcome, #coaches, #history, #gallery {
    padding: 50px 0;
    text-align: center;
}


.info-section {
  display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    padding: 0 20px; 
}


.text-block {
    flex: 1;
    max-width: 300px;
    margin-top: 20px;
}

.circle-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.info-item {
    margin: 10px 0;
}

.info-item h4 {
    font-size: 1.5em;
    margin: 0;
}

.info-item h5 {
    font-weight: bold;
    margin: 5px 0;
}

.info-item p {
    margin: 0;
}

button {
    background-color: #41c1fe;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 20px;
}

#coaches {
    padding: 50px 20px;
    text-align: center;
}

#coaches h2 {
    font-family:oswald;
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 20px;
}

.coaches-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coach {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.coach img {
    width: 100%;
    margin-bottom: 10px;
}

.coach h3 {
    font-family:oswald;
    font-size: 1.5em;
    margin: 10px 0 5px;
}

.coach p {
    font-family:montserrat;
    font-size: 1em;
    color: #666;
}

#gallery {
    padding: 50px 20px;
    text-align: center;
}

#gallery h2 {
    font-family:oswald;
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    justify-content: center;
}

.gallery-container img {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}

footer{
	background-color: var(--fondo-footer);
	padding: 30px 0;
}




























